<div class="container my-5">
  <h1 class="mb-4 text-center text-primary">Your Game Performances</h1>

  <% if @performances.any? %>
    <div class="row">
      <% @performances.each do |performance| %>
        <div class="col-md-6 col-lg-4">
          <%= render partial: "performance_card", locals: { performance: performance } %>
        </div>
      <% end %>
    </div>
  <% else %>
    <p class="text-center text-muted">No performances logged yet.</p>
  <% end %>
</div>
